[push]
	default = simple
[user]
	name = Chaim-Leib Halbert
	email = chaim.leib.halbert@gmail.com
[branch "master"]
	rebase = true
[core]
	editor = vim
[alias]
	co = checkout
[color]
	ui = auto
[url "git@github.com:chaimleib/"]
	insteadOf = https://github.com/chaimleib/
[merge]
	tool = p4mergetool
[mergetool "p4mergetool"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $PWD/$BASE $PWD/$REMOTE $PWD/$LOCAL $PWD/$MERGED
	trustExitCode = false
[mergetool]
	keepBackup = false
