[push]
	default = simple
[user]
	name = Chaim Halbert
	email = chaim.leib.halbert@gmail.com
[includeIf "gitdir:~/projects/evernote/**"]
  path = ~/.gitconfig-en
[core]
	editor = vim
[color]
	ui = auto
[var]
	projectsDirectory = /Users/chalbert/projects/evernote
[rerere]
	enabled = true
[credential]
	helper = osxkeychain
[url "git@github.com:"]
	insteadOf = https://github.com/
[pull]
	ff = only
