{{- /* Shows: */ -}}
{{- /*  - the given date in Jewish and Civil calendars */ -}}
{{- /*  - special events today */ -}}
{{- /*  - the omer count */ -}}
{{- /*  - the parsha to be read this Shabbos */ -}}
{{- /*  - generic zmanim */ -}}
{{- /*  - zmanim specific to the day */ -}}
{{- /*  - length of the halachic hour */ -}}
{{- /*  - a warning about zmanim accuracy */ -}}
{{- /*  - the past molad, until the 15th of the month */ -}}
{{- /*  - the next molad, from the 16th of the month */ -}}

{{- /* Configurations: */ -}}
{{- /*  - CLI date */ -}}
{{- /*  - bool cfg.daily_zmanim - enable all zmanim if true */ -}}
{{- /*  - bool cfg.sunrise_sunset - enable neitz and shkiah if true */ -}}
{{- /*  - bool cfg.candle_lighting - */ -}}
{{- /*      enable zmanim for special mitzvos of the day, */ -}}
{{- /*      like chametz, fasts, candles and havdalah */ -}}
{{- /*  - bool cfg.daily_sedra - enable the parsha every day */ -}}
{{- /*  - bool cfg.molad - enable the molad */ -}}
{{- /*  - bool cfg.no_modern - disable modern holidays */ -}}
{{- /*  - bool cfg.omer - enable the omer */ -}}
{{- /*  - bool cfg.sedrot - enable the parsha on Shabbos */ -}}
{{- /*  - bool cfg.shabbat_mevarchim - */ -}}
{{- /*      enable Shabbat Mevarchim before Rosh Chodesh */ -}}
{{- /*  - int cfg.candle_lighting_mins - */ -}}
{{- /*      how many minutes before shkiah to light */ -}}
{{- /*      for Shabbos and Yom Tov */ -}}
{{- /*  - string cfg.city - location for zmanim */ -}}
{{- /*  - float cfg.geo.lat, .lon - location for zmanim */ -}}
{{- /*  - string cfg.timezone - location for zmanim */ -}}

{{- $d := $.dateRange.StartOrToday false -}}
{{- $shabbos := $d.OnOrAfter $.time.Saturday -}}

{{- $z := forLocationDate $.location $d.Gregorian -}}
{{- $zNext := forLocationDate $.location $d.Next.Gregorian -}}

{{- $grey := "#606060" -}}
{{- $yellow := "#bbbb00" -}}
{{- $green := "#66dd66" -}}

<span size="90pt">{{timeNow.Format "15:04 -0700"}}</span>
{{- $caNow := timeLoadLocation "America/Los_Angeles" | timeNow.In}}
{{- if $caNow.IsDST}}
<span size="20pt">DST: Arizona is on California time.</span>
{{- else}}
<span size="20pt" line_height="2" color="{{$grey}}">Standard Time: Arizona is on Colorado time.</span>
{{- end}}
<span color="{{$green}}">{{$d.Gregorian.Format (printf "Monday, %s" $.time.DateOnly)}}</span>
<span color="{{$green}}">{{$d}}</span>

{{- /* Is it a special day? */}}
{{- range eventsByFlags (hebcal $d)
      $.event.EREV
      $.event.CHAG
      $.event.CHOL_HAMOED
      $.event.OMER_COUNT
      $.event.CHANUKAH_CANDLES
      $.event.MINOR_HOLIDAY
      $.event.ROSH_CHODESH
      $.event.MINOR_FAST
      $.event.MAJOR_FAST
      $.event.SPECIAL_SHABBAT
      $.event.SHABBAT_MEVARCHIM
      $.event.USER_EVENT
}}
{{-   if asOmerEvent . }}
{{-     if $.calOptions.Omer}}
<span color="{{$green}}">Tonight, count the {{.Render $.language}}.</span>
{{-     end}}
{{-   else if and
        (not (asTimedEvent .))
        (or (ne "Chag HaBanot" .Basename) (not $.calOptions.NoModern))
}}
<span color="{{$green}}">{{      .Render $.language}}</span>
{{-   end}}
{{- end}}
{{- /* Restore Chanukah untimed events, since Hebcal replaces them. */}}
{{- range eventsByFlags (hebcal $d) $.event.CHANUKAH_CANDLES}}
{{-   with asTimedEvent .}}
<span color="{{$green}}">{{      .LinkedEvent.Render $.language}}</span>
{{-   end}}
{{- end}}

{{- /* What is the parasha? */}}
{{- if or
      $.calOptions.DailySedra
      (and
        (eq $.time.Saturday $d.Weekday)
        $.calOptions.Sedrot
      )
}}

This {{translate $.language "Shabbat"}} we read
  {{- ""}} {{parasha $shabbos (eq $.location.CountryCode "IL") $.language}}.
{{- end}}
{{""}}

{{- $future := $d}}
{{- range 14}}
{{-   $future = $future.Next}}
{{-   $dayEvents := list}}
{{-   range eventsByFlags (hebcal $future)
        $.event.EREV
        $.event.CHAG
        $.event.CHOL_HAMOED
        $.event.OMER_COUNT
        $.event.CHANUKAH_CANDLES
        $.event.MINOR_HOLIDAY
        $.event.ROSH_CHODESH
        $.event.MINOR_FAST
        $.event.MAJOR_FAST
        $.event.SPECIAL_SHABBAT
        $.event.SHABBAT_MEVARCHIM
        $.event.USER_EVENT
}}
{{-     if asOmerEvent . }}
{{-     else if and
          (not (asTimedEvent .))
          (or (ne "Chag HaBanot" .Basename) (not $.calOptions.NoModern))
}}
{{-       $dayEvents = append $dayEvents (.Render $.language) }}
{{-     end}}
{{-   end}}
{{-   range eventsByFlags (hebcal $future) $.event.CHANUKAH_CANDLES}}
{{-     with asTimedEvent .}}
{{-       $dayEvents = append $dayEvents (.LinkedEvent.Render $.language) }}
{{-     end}}
{{-   end}}
{{-   with $dayEvents}}
<span color="{{$yellow}}">{{      $future.Gregorian.Format "Mon"}}, {{$future.MonthName $.language}} {{$future.Day}} / {{$future.Gregorian.Format "Jan 2"}}:</span>
{{-     range $dayEvents}}
   <span size="20pt">{{.}}</span>
{{-     end}}
{{-   end}}
{{- end}}

{{- if $.calOptions.Molad}}
{{-   if ge $d.Day 16}}
{{-     $nextMonth := hdateNextMonth $d}}
{{-     $molad := molad $nextMonth.Year $nextMonth.Month}}
{{-     $moladTime := $molad.Date.Gregorian}}
{{-       $moladTime = $moladTime.Add (
            printf "%dh%dm" $molad.Hours $molad.Minutes | timeParseDuration
          ) }}

The molad for next month, {{$nextMonth.MonthName $.language}},
  {{- ""}} is {{""}}
{{$molad.Date.Weekday}}, {{$molad.Date}}
at {{$moladTime.Format "3:04"}}
  {{- ""}} and {{$molad.Chalakim}}
  {{- ""}} {{if eq $molad.Chalakim 1}}cheilek{{else}}chalakim{{end}}
  {{- ""}} {{$moladTime.Format "PM"}}.
{{-   end}}
{{- end}}
